.container {
  
}

.button{
    border: none;
    background-color: crimson;
    color: white;
    padding: 5px;
}

.card {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.additional > ul {
  display: flex;
  gap: 15px;
}
