.input{
    height: 29px;
    outline: none;
    border-color: crimson;
    text-align: center;
}

.button{
    background-color: crimson;
    color: white;
    height: 29px;
    font-size: 14px;
    border: none;
    padding: 0 5px;
}