.card {
  border: 1px solid rgba(128, 128, 128, 0.274);
  display: flex;
  width: 200px;
  flex-direction: column;
}

.image {
  display: block;
  width: 200px;
  height: 200px;
}
.content {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
